<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">Recipe Book</a>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" name="recipes" (click) = "displayFeature($event)">Recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" name="shopping-list" (click)="displayFeature($event)">Shopping List</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" dropdown>
        <a class="nav-link dropdown-toggle" dropdownToggle href="#" id="dropdown01" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Manage</a>
        <div class="dropdown-menu" aria-labelledby="dropdown01" *dropdownMenu>
          <a class="dropdown-item" href="#">Save Data</a>
          <a class="dropdown-item" href="#">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>