<div class="container m-3">
  <div class="row">
    <div class="col-12">
      <img [src]="selectedRecipe.imagePath" alt={{selectedRecipe.name}} class="img-responsive" style="max-height: 50px">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="font-weight-bold">{{selectedRecipe.name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="btn-group" dropdown>
        <button class="btn btn-primary dropdown-toggle" dropdownToggle>Manage Recipe
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" *dropdownMenu>
          <li>
            <a class="dropdown-item" href="#" (click)="toShoppingList();">To Shopping List</a>
            <a href="#" class="dropdown-item">Edit Recipe</a>
            <a href="#" class="dropdown-item">Delete Recipe</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{selectedRecipe.description}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5>Ingredients</h5>
      <ul class="list-group" >
        <li class="list-group-item" *ngFor="let ingredient of selectedRecipe.ingredients">{{ ingredient.name }}</li>
      </ul>
    </div>
  </div>
</div>