<div class="row mt-3 mb-4">
    <div class="col-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">
            <div class="float-left">
                <h4 class="list-group-item-heading font-weight-bold">{{recipe.name}}</h4>
                <p class="list-group-item-text">{{recipe.description}}</p>
            </div>
            <span class="float-right">
                <img [src]="recipe.imagePath" style="max-height: 50px;" [alt]="recipe.name" class="img-responsive">
            </span>
        </a>
    </div>
</div>
<app-recipe-item></app-recipe-item>>