<div class="row">
    <div class="col-12">
        <form>
            <div class="row">
                <div class="col-4 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" required name="name" class="form-control">
                </div>
                <div class="col-4 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" id="amount" required name="amount">
                </div>

            </div>

            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <button class="form-control btn btn-success" type="submit">Add</button>
                        <button class="form-control btn btn-success" type="button">Delete</button>
                        <button class="form-control btn btn-primary" type="button">Clear</button>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>